body{
    background: url("images/TWPS- Home page FullHD.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#buttonEntra{
    border-style: solid;
    border-radius: 4px;
    border-color: goldenrod;
    border-width: 5px;
    color: goldenrod;
    background: transparent;
    width: 200px;
    height: 100px;
    font-family: "Times New Roman";
    font-size: 50px;
    margin-left: 100px;
    margin-top: 425px;
    position: relative;
    transition-duration: 0.4s;
}

#buttonEntra:hover{
    background-color: goldenrod;
    border-color: goldenrod;
    color: saddlebrown;
}

#buttonEntra:focus{
    background-color: goldenrod;
    border-color: goldenrod;
    color: saddlebrown;
    outline: none; !important;
}

#buttonInfo{
    border-style: solid;
    border-radius: 4px;
    border-color: goldenrod;
    border-width: 5px;
    color: goldenrod;
    background: transparent;
    width: 200px;
    height: 100px;
    font-family: "Times New Roman";
    font-size: 50px;
    margin-left: 550px;
    margin-top: 425px;
    position: relative;
    transition-duration: 0.4s;
}

#buttonInfo:hover{
    background-color: goldenrod;
    border-color: goldenrod;
    color: saddlebrown;
}

#buttonInfo:focus{
    background-color: goldenrod;
    border-color: goldenrod;
    color: saddlebrown;
    outline: none; !important;
}

