body{
    background: url("images/TWPS- Home page FullHD.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.btn-default{
    border-style: solid;
    border-radius: 4px;
    border-color: goldenrod;
    border-width: 5px;
    color: goldenrod;
    background: transparent;
    width: 200px;
    height: 100px;
    font-family: "Times New Roman";
    font-size: 50px;
    margin-left: 480px;
    margin-top: 325px;
    position: relative;
    transition: 0,4s;
}

.btn-default:hover{
    background-color: goldenrod;
    border-color: goldenrod;
    color: saddlebrown;
}

.btn-default:focus{
    background-color: goldenrod;
    border-color: goldenrod;
    color: saddlebrown;
    outline: none; !important;
}