body{
    background: url("images/TWPS- Home page FullHD.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.button-info{
    background-color: transparent;
    border: 2px solid goldenrod;
    color: goldenrod;
    border-radius: 4px;
    width: 350px;
    height: 70px;
    font-size: 40px;
    font-family: "Times New Roman";
    position: relative;
    left: 1250px;
    top: 380px;
    transition-duration: 0,4s;

}

.button-enter{
    background-color: transparent;
    border: 2px solid goldenrod;
    color: goldenrod;
    border-radius: 4px;
    width: 350px;
    height: 70px;
    font-size: 50px;
    font-family: "Times New Roman";
    position: relative;
    left: 300px;
    top: 460px;
    transition-duration: 0,4s;
}

.button-info:hover{
    background-color: goldenrod;
    color: saddlebrown;
    cursor: pointer;
    cursor: hand;
}

.button-enter:hover{
    background-color: goldenrod;
    color: saddlebrown;
    cursor: pointer;
    cursor: hand;
}

.button-info:focus{
    outline: none;
}

.button-enter:focus{
    outline: none;
}