body{
    background: url("Deliverable 1/images/ancientPaperBodyNew.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.button-d1{
    background-color: transparent;
    border: transparent;
    width: 450px;
    height: 110px;
    font-size: 100px;
    font-family: "Edwardian Script ITC";
    position: relative;
    left: 700px;
    top: 200px;
    transition-duration: 0,4s;
}

.button-d2{
    background-color: transparent;
    border: transparent;
    width: 450px;
    height: 110px;
    font-size: 100px;
    font-family: "Edwardian Script ITC";
    position: relative;
    left: 700px;
    top: 240px;
    transition-duration: 0,4s;
}

.button-d3{
    background-color: transparent;
    border: transparent;
    width: 450px;
    height: 110px;
    font-size: 100px;
    font-family: "Edwardian Script ITC";
    position: relative;
    left: 700px;
    top: 280px;
    transition-duration: 0,4s;
}

.button-d1:hover{
    cursor: pointer;
    cursor: hand;
}

.button-d2:hover{
    cursor: pointer;
    cursor: hand;
}

.button-d3:hover{
    cursor: pointer;
    cursor: hand;
}

.button-d1:focus{
    outline: none;
}

.button-d2:focus{
    outline: none;
}

.button-d3{
    outline: none;
}