body{
    background: url("Deliverable 1/images/ancientPaperBodyNew.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn {
    outline: none !important;
}
