body{
    background: url("images/TWPS- sfondo login.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    height: 100px;
    text-align: center;
    vertical-align: middle;
    color: lightgrey;
    font-family: "Times New Roman";
}

.login{
    text-align: right;
    color: lightgrey;
    padding-right: 50px;
    position: relative;
    float: right;
    vertical-align: middle;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.loginMail{
    border-radius: 4px;
    border-style: none;
    width: 200px;
    height: 20px;
}

.loginPassword{
    border-radius: 4px;
    border-style: none;
    width: 200px;
    height: 20px;
}

.buttonLogin{
    background-color: transparent;
    color: lightgrey;
    border-radius: 4px;
    border-color: lightgrey;
    border-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    transition-duration: 0,4s;
}

.buttonLogin:hover{
    background-color: lightgrey;
    color: darkred;
    cursor: pointer;
    cursor: hand;
}

.buttonLogin:focus{
    outline: none;
}

.logoScritto{
    width: 30%;
    height: auto;
}

article{
    color: lightgrey;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.join{
    margin-top: 80px;
    margin-left: 100px;
}

.join h1{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
}

.join form br{
    line-height: 10px;
}

.col-xs-3{
    width: 300px;
    border-radius: 4px;
    border-style: none;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.joinLastName{
    width: 200px;
    height: 30px;
    border-radius: 4px;
    border-style: none;
    margin-left: 10px;
    font-size: 18px;
}

.joinMail{
    width: 420px;
    height: 30px;
    border-radius: 4px;
    border-style: none;
    font-size: 18px;
}

.joinConfirmMail{
    width: 420px;
    height: 30px;
    border-radius: 4px;
    border-style: none;
    font-size: 18px;
}

.joinPassword{
    width: 420px;
    height: 30px;
    border-radius: 4px;
    border-style: none;
    font-size: 18px;
}

.joinConfirmPassword{
    width: 420px;
    height: 30px;
    border-radius: 4px;
    border-style: none;
    font-size: 18px;
}

.userSelector{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    width: 295px;
    height: 30px;
    margin-left: 10px;
}

.userSelectorName{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.date{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;

}

.date .dateInput{
    padding-left: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-radius: 4px;
    border-style: none;
    width: 290px;
    height: 30px;
}

.femaleSel{
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.maleSel{
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 15px;
}

.joinButton{
    background-color: goldenrod;
    color: darkred;
    border-radius: 4px;
    border-color: lightgrey;
    border-style: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    transition-duration: 0,4s;
}

.joinButton:hover{
    background-color: lightgrey;
    color: darkred;
    cursor: pointer;
    cursor: hand;
}

.joinButton:focus{
    outline: none;
}