body{
    background: url("../../images/TWPS- sfondo login.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header{
    font-family: "Times New Roman";
    color: lightgrey;
    text-align: center;
    vertical-align: middle;
    font-size: 80px;
}

h2{
    font-family: "Times New Roman";
    color: lightgrey;
    font-size: 20px;
}