<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TWPS- Comic Editor</title>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.6-dist/css/bootstrap.css">
    <script src="../lib/bootstrap-3.3.6-dist/js/bootstrap.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.6-dist/css/datepicker.css">
    <script src="../lib/bootstrap-3.3.6-dist/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="../lib/ng-file-upload-shim.min.js"></script>
    <script src="../lib/ng-file-upload.min.js"></script>
    <script src="../lib/sha256.js"></script>
    <script src="../createText/textEditor.js"></script>
    <script src="../login/login.js"></script>
    <script src="../TWPSapp.js"></script>
    <link rel="stylesheet" type="text/css" href="../createText/textEditor.css">
</head>
<body ng-app="twpsApp" ng-controller="createComicCtrl">
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html" style="color: white; font-family: 'Times New Roman'">TWPS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="../userPage/userPage.html">La mia pagina</a></li>
                    <li><a href="../userPage/userWork.html">I miei lavori</a></li>
                    <li><a href="../userPage/Biblioteca.html">Biblioteca</a></li>
                    <li><a href="../userPage/Fumetteria.html">Fumetteria</a></li>
                    <li><a href="../userPage/Archivio.html">Archivio</a></li>
                </ul>
                <form class="navbar-form navbar-right" ng-controller="AuthCtrl">
                    <button class="btn btn-link" style="color: white" ng-click="logout()">
                        <span class="glyphicon glyphicon-off" style="margin-right: 5px"></span>
                        Logout
                    </button>
                </form>
            </div>
        </div>
    </nav>

</header>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-12">
                <input class="form-control" data-toggle="tooltip" title="Non deve contenere questi caratteri: ., #, $, [ o ]" id="titoloFumetto" placeholder="Titolo">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" data-toggle="tooltip" title="Non deve contenere questi caratteri: ., #, $, [ o ]" id="sottotitoloFumetto" placeholder="Sottotitolo">
            </div>
            <div class="col-md-6">
                <input class="form-control" id="genereFumetto" placeholder="Genere">
            </div>
        </div>
    </form>
</div>
<br><br>
<div class="container">
    <button class="btn btn-default" ng-click="createNewComic()">Aggiungi una pagina</button>
</div>
<br><br>
<div class="container" id="imagesInputContainer" style="display: none" ng-controller="addComicPagesCtrl">
    <form class="form-group">
        <input style="color: lightgrey" type="file" id="Pagina1" name="pic" ng-model="user.img" accept="image/*" ngf-select="add1()">
        <br>
        <button class="btn btn-default" type="submit" ng-click="addPagina1()">Aggiungi una pagina</button>
        <button class="btn btn-default" type="submit" ng-click="salvaFumetto()">Finisci e salva il fumetto</button>
    </form>
    <br>
    <form class="form-group" id="formPagina2" style="display: none">
        <input style="color: lightgrey" type="file" id="Pagina2" name="pic" ng-model="user.img" accept="image/*" ngf-select="add2()">
        <br>
        <button class="btn btn-default" type="submit" ng-click="addPagina2()">Aggiungi una pagina</button>
        <button class="btn btn-default" type="submit" ng-click="salvaFumetto()">Finisci e salva il fumetto</button>
    </form>
    <br>
    <form class="form-group" id="formPagina3" style="display: none">
        <input style="color: lightgrey" type="file" id="Pagina3" name="pic" ng-model="user.img" accept="image/*" ngf-select="add3()">
        <br>
        <button class="btn btn-default" type="submit" ng-click="addPagina3()">Aggiungi una pagina</button>
        <button class="btn btn-default" type="submit" ng-click="salvaFumetto()">Finisci e salva il fumetto</button>
    </form>
    <br>
    <form class="form-group" id="formPagina4" style="display: none">
        <input style="color: lightgrey" type="file" id="Pagina4" name="pic" ng-model="user.img" accept="image/*" ngf-select="add4()">
        <br>
        <button class="btn btn-default" type="submit" ng-click="addPagina4()">Aggiungi una pagina</button>
        <button class="btn btn-default" type="submit" ng-click="salvaFumetto()">Finisci e salva il fumetto</button>
    </form>
    <br>
    <form class="form-group" id="formPagina5" style="display: none">
        <input style="color: lightgrey" type="file" id="Pagina5" name="pic" ng-model="user.img" accept="image/*" ngf-select="add5()">
        <br>
        <button class="btn btn-default" type="submit" ng-click="addPagina5()">Aggiungi una pagina</button>
        <button class="btn btn-default" type="submit" ng-click="salvaFumetto()">Finisci e salva il fumetto</button>
    </form>
    <br>
    <form class="form-group" id="formPagina6" style="display: none">
        <input style="color: lightgrey" type="file" id="Pagina6" name="pic" ng-model="user.img" accept="image/*" ngf-select="add6()">
        <br>
        <button class="btn btn-default" type="submit" ng-click="addPagina6()">Aggiungi una pagina</button>
        <button class="btn btn-default" type="submit" ng-click="salvaFumetto()">Finisci e salva il fumetto</button>
    </form>
    <br>
    <form class="form-group" id="formPagina7" style="display: none">
        <input style="color: lightgrey" type="file" id="Pagina7" name="pic" ng-model="user.img" accept="image/*" ngf-select="add7()">
        <br>
        <button class="btn btn-default" type="submit" ng-click="addPagina7()">Aggiungi una pagina</button>
        <button class="btn btn-default" type="submit" ng-click="salvaFumetto()">Finisci e salva il fumetto</button>
    </form>
    <br>
    <form class="form-group" id="formPagina8" style="display: none">
        <input style="color: lightgrey" type="file" id="Pagina8" name="pic" ng-model="user.img" accept="image/*" ngf-select="add8()">
        <br>
        <button class="btn btn-default" type="submit" ng-click="addPagina8()">Aggiungi una pagina</button>
        <button class="btn btn-default" type="submit" ng-click="salvaFumetto()">Finisci e salva il fumetto</button>
    </form>
    <br>
    <form class="form-group" id="formPagina9" style="display: none">
        <input style="color: lightgrey" type="file" id="Pagina9" name="pic" ng-model="user.img" accept="image/*" ngf-select="add9()">
        <br>
        <button class="btn btn-default" type="submit" ng-click="addPagina9()">Aggiungi una pagina</button>
        <button class="btn btn-default" type="submit" ng-click="salvaFumetto()">Finisci e salva il fumetto</button>
    </form>
    <br>
    <form class="form-group" id="formPagina10" style="display: none">
        <input style="color: lightgrey" type="file" id="Pagina10" name="pic" ng-model="user.img" accept="image/*" ngf-select="add10()">
        <br>
        <button class="btn btn-default" type="submit" ng-click="salvaFumetto()">Finisci e salva il fumetto</button>
    </form>
</div>


</body>
</html>