<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TWPS- Project editor</title>
    <script src="../lib/jquery-3.0.0.js"></script>
    <script src="../lib/jquery-2.x-git.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <script src="../lib/angularfire.min.js"></script>
    <script src="../lib/angular.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.6-dist/css/bootstrap.css">
    <script src="../lib/bootstrap-3.3.6-dist/js/bootstrap.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../lib/bootstrap-3.3.6-dist/css/datepicker.css">
    <script src="../lib/bootstrap-3.3.6-dist/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="../lib/ng-file-upload-shim.min.js"></script>
    <script src="../lib/ng-file-upload.min.js"></script>
    <script src="../lib/sha256.js"></script>
    <script src="../createText/textEditor.js"></script>
    <script src="../login/login.js"></script>
    <script src="../TWPSapp.js"></script>
    <link rel="stylesheet" type="text/css" href="../createText/textEditor.css">
</head>
<style>
    /* Set black background color, white text and some padding */
    body{
        background-color: darkred;
    }
</style>
<body ng-app="twpsApp" ng-controller="createProjectCtrl">
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index.html" id="TWPSTasto">TWPS</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a href="../userPage/userPage.html">La mia pagina</a></li>
                        <li><a href="../userPage/userWork.html">I miei lavori</a></li>
                        <li><a href="../userPage/Biblioteca.html">Biblioteca</a></li>
                        <li><a href="../userPage/Fumetteria.html">Fumetteria</a></li>
                        <li><a href="../userPage/Archivio.html">Archivio</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" ng-controller="AuthCtrl">
                        <button class="btn btn-link" id="logoutButton" ng-click="logout()">
                            <span class="glyphicon glyphicon-off" id="logoutButton"></span>
                            Logout
                        </button>
                    </form>
                </div>
            </div>
        </nav>

    </header>

    <div class="container">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    <input class="form-control" id="titoloProgetto" data-toggle="tooltip" title="Non deve contenere questi caratteri: ., #, $, [ o ]" placeholder="Titolo del progetto">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input class="form-control" id="tipoProgetto" data-toggle="tooltip" title="Non deve contenere questi caratteri: ., #, $, [ o ]" placeholder="Tipo del progetto">
                </div>
            </div>
        </form>
    </div>

    <div class="container">
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" name="motivazioniProgetto" id="motivazioniProgetto" placeholder="Per cosa nasce questo progetto?"></textarea>
            </div>
        </form>
    </div>

    <div class="container">
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" name="soggettoProgetto" id="soggettoProgetto" placeholder="Soggetto del tuo progetto"></textarea>
            </div>
        </form>
    </div>

    <div class="container">
        <button class="btn btn-default" ng-click="createNewProject()">Salva il progetto</button>
    </div>

</body>
</html>