form .stars {
    background: url("../images/stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
}
form .stars input[type="radio"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
    width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
    width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
    width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
    width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
    width: 20%;
}
form .stars label {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent;
    cursor: pointer;
}
form .stars label:hover ~ span {
    background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
    width: 100%;
}
form .stars label.star-4:hover ~ span {
    width: 80%;
}
form .stars label.star-3:hover ~ span {
    width: 60%;
}
form .stars label.star-2:hover ~ span {
    width: 40%;
}
form .stars label.star-1:hover ~ span {
    width: 20%;
}
form .stars span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url("../images/stars.png") repeat-x 0 -60px;
    -webkit-transition: -webkit-width 0.5s;
    -moz-transition: -moz-width 0.5s;
    -ms-transition: -ms-width 0.5s;
    -o-transition: -o-width 0.5s;
    transition: width 0.5s;
}

#containerAttComic{
    background-color: white;
    min-height: 650px
}

#autoreStory{
    font-family: "Times New Roman", Georgia, Serif;
    color: black;
}

#titoloStory{
    font-family: "Times New Roman", Georgia, Serif;
}

#sottotitoloStory{
    font-family: "Times New Roman", Georgia, Serif;
}

#attComicPage1{
    display: none;
}

#attComicPage2{
    display: none;
}

#attComicPage3{
    display: none;
}

#attComicPage4{
    display: none;
}

#attComicPage5{
    display: none;
}

#attComicPage6{
    display: none;
}

#attComicPage7{
    display: none;
}

#attComicPage8{
    display: none;
}

#attComicPage9{
    display: none;
}

#attComicPage10{
    display: none;
}

#ratingComicContainer{
    margin-top: 50px;
    display: none
}

#votoMedio{
    color: lightgrey;
}

#reviewComicContainer{
    display: none;
}

#intestazioneRecensione{
    color: black;
}

#testoRecensione{
    color: black;
}

#selectedProjectContent{
    display: none;
}

#selectedProjectContainer{
    background-color: white;
    min-height: 650px;
}

#motiviProject{
    text-align: justify;
    margin-top: 50px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px
}

#testoProject{
    text-align: justify;
    margin-top: 50px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px
}

#partecipantiContainer{
    background-color: white;
}

#ratingContainer{
    margin-top: 50px;
    display: none
}

#reviewContainer{
    display: none;
}

#selectedStoryContent{
    display: none;
}

#selectedStoryContainer{
    background-color: white;
    min-height: 650px
}

#testoStory{
    text-align: justify;
    margin-top: 50px;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px
}

#autoreStoryLink{
    color: black;
}



