<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TWPS- User work</title>
    <script src="../lib/jquery-3.0.0.js"></script>
    <script src="../lib/jquery-2.x-git.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="../lib/jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap-3.3.6-dist/css/bootstrap.css">
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angularfire.min.js"></script>
    <script src="../lib/ng-file-upload-shim.min.js"></script>
    <script src="../lib/ng-file-upload.min.js"></script>
    <script src="../lib/sha256.js"></script>
    <script src="../TWPSapp.js"></script>
    <link rel="stylesheet" type="text/css" href="userPage.css">
    <style>
        /* Set black background color, white text and some padding */
        body{
            background-color: darkred;
        }
    </style>
</head>
<body ng-app="twpsApp" ng-controller="WorkCtrl" onload="console.log(localStorage.UID)">
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../index.html" id="TWPSTasto">TWPS</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="userPage.html">La mia pagina</a></li>
                    <li class="active"><a href="userWork.html">I miei lavori</a></li>
                    <li><a href="Biblioteca.html">Biblioteca</a></li>
                    <li><a href="Fumetteria.html">Fumetteria</a></li>
                    <li><a href="Archivio.html">Archivio</a></li>
                </ul>
                <form class="navbar-form navbar-right" ng-controller="AuthCtrl">
                    <button class="btn btn-link" id="logoutButton" ng-click="logout()">
                        <span class="glyphicon glyphicon-off" id="logoutButtonSpan"></span>
                        Logout
                    </button>
                </form>
            </div>
        </div>
    </nav>

</header>

<article id="userWorkContent">
    <div class="container">
        <div class="container text-center">
            <button class="btn btn-default" ng-click="openTextEditor()" id="nuovaStoriaWork">Scrivi un nuovo racconto<span class="glyphicon glyphicon-plus" id="nuovaStoriaWorkSpan"></span></button>
        </div>
        <div class="container text-center">
            <button class="btn btn-default" ng-click="openComicEditor()" id="nuovoFumettoWork">Scrivi un nuovo fumetto<span class="glyphicon glyphicon-plus" id="nuovoFumettoWorkSpan"></span></button>
        </div>
        <div class="container text-center">
            <button class="btn btn-default" ng-click="openProjectEditor()" id="nuovoProgettoWork">Crea un nuovo progetto<span class="glyphicon glyphicon-plus" id="nuovoProgettoWorkSpan"></span></button>
        </div>
    </div>
    <div class="container">
        <div id="userStoriesDiv">
            <h4 id="titoloUserStoriesDiv">I miei racconti:</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="story in filterStories track by $index">
                    <button class="btn btn-link" ng-click="getTheStory($index)" id="listaStoriaButton">{{story.autore}}: {{story.titolo}}- {{story.sottotitolo}}</button>
                </li>
            </ul>
        </div>
        <div id="userComicsDiv">
            <h4 id="titoloUserComicsDiv">I miei fumetti:</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="comic in filterComics track by $index">
                    <button class="btn btn-link" ng-click="getTheComic($index)" id="listaFumettiButton">{{comic.autore}}: {{comic.titolo}}- {{comic.sottotitolo}}</button>
                </li>
            </ul>
        </div>
        <div id="userProjectsDiv">
            <h4 id="titoloUserProjectsDiv">I miei progetti:</h4>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="project in filterProjects track by $index">
                    <button class="btn btn-link" ng-click="getTheProject($index)" id="listaProgettiButton">{{project.autore}}: {{project.titolo}}- {{project.tipologiaDelProgetto}}</button>
                </li>
            </ul>
        </div>
    </div>
</article>



</body>
</html>