body{
    background: url("images/ancientPaperBody.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

article{
    background-color: white;
    width: 1000px;
    margin: 0 auto;
}